.cards__plase-keyword {
  background: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  top: 24px;
  left: 24px;
  width: 88px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-keyword {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

@media screen and (min-width: 767px) and (max-width: 1380px) {
  .cards__plase-keyword {
     top: 24px;
     left: 24px;
  }
 }

@media screen and (max-width:768px) {
  .cards__plase-keyword {
    top: 8px;
   left: 8px;
  }
}