.footer__menu {
  display: flex;
  margin: 0 42px 0 0;
}

@media screen and (min-width: 769px) and (max-width: 1380px){
  .footer__menu {
    margin: 0 42px 0 0;
  }
}

@media screen and (max-width:768px) {
  .footer__menu {
    margin: 0 42px 0 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 730px) {
  .footer__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}