.cards__button {
  background: #FFFFFF;
  border-radius: 80px;
  width: 288px;
  height: 64px;
  margin: 0 auto;
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #1A1B22;
border: none;
cursor: pointer;
border: none;
outline: none;
}

.cards__button:hover {
  opacity: 0.9;
}

@media screen and (max-width:768px) {
  .cards__button  {
  width: 240px;
  height: 56px;
  margin: 0 auto;
  }
  .cards__button:hover {
    opacity: 0.9;
  }
}
@media screen and (max-width: 320px) {
  .cards__button {
   margin-left: 16px;
  }
  .cards__button:hover {
    opacity: 0.9;
  }
}