@import url(__logo/header__logo.css);
@import url(__nav/header__nav.css);
@import url(__page/header__page.css);
@import url(__button-auth/header__button-auth.css);
@import url(__articles/header__articles.css);
@import url(__button/header__button.css);
@import url(__username/header__username.css);
@import url(__logout/header__logout.css);
@import url(__label/header__label.css);
@import url(__checkbox/header__checkbox.css);
@import url(__mobile-icon/header__mobile-icon.css);


.header {
    max-width: 1440px;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    display: flex;
    height: 80px;
    padding: 0 104px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header_white {
  background-color: #ffffff;
  box-shadow: inset 0px -1px 0px #D1D2D6;
}

@media screen and (max-width: 1280px) {
  .header {
      padding: 0 80px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
      padding: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 16px;
  }
}

@media screen and (max-width: 500px) {
  .header {
      padding: 0 16px;
  }
}

@media screen and (min-width: 320px) and (max-width:730px) {
  .header::before {
    content: '';
    position: absolute;
    top: -436px;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    z-index: 100;
  }
}
@media screen and (max-width: 320px) {
  .header::before {
    content: '';
    position: absolute;
    top: -436px;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    z-index: 100;
  }
}