.footer__icon {
   margin: 0 30px 0 0;
   width: 20px;
   height: 20px;
}

@media screen and (min-width: 769px) and (max-width: 1380px){
  .footer__icon {
    margin: 0 20px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__icon {
    margin: 0 27px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__icon {
    margin: 0 27px 0 0;
  }
}