.search__input {
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;
  width: 608px;
  min-height: 64px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding-left: 24px;
  outline: none;
  margin: 0px;
}

.search__input::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
  color: #B6BCBF;
}
.search__input::-moz-placeholder { /* Firefox 19+ */
  color: #b6bcbf;
}
.search__input:-ms-input-placeholder { /* IE 10+ */
  color: #b6bcbf;
}
.search__input:-moz-placeholder { /* Firefox 18- */
  color: #b6bcbf;
}

@media screen and (max-width:768px) {
    .search__input {
      width: 448px;
      min-height: 56px;
    }
 }

 @media screen and (max-width:500px) {
  .search__input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      width: 288px;
      margin-left: 16px;
  }
}

 @media screen and (max-width: 320px) {
  .search__input {
        height: 56px;
        width: 288px;
        margin-left: 0px;
  }
}