@import url(__author/footer__author.css);
@import url(__navigation/footer__navigation.css);
@import url(__menu/footer__menu.css);
@import url(__link/footer__link.css);
@import url(__icons-container/footer__icons-container.css);
@import url(__icon/footer__icon.css);

.footer {
  max-width: 1440px;
  min-height: 80px;
  background-color: #ffffff;
  padding-left: 104px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (min-width: 769px) and (max-width: 1380px){
  .footer {
      max-width: 1380px;
      padding-left: 40px;
  }
}

@media screen and (max-width:768px) {
  .footer {
    max-width: 768px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 730px) {
  .footer {
    max-width: 320px;
   flex-direction: column;
   align-items: flex-start;
   padding-left: 16px;
  }
}